@font-face {

	font-family: 'FontName'; 

	src: url(Qatar2022Arabic-Heavy.ttf); 

}

@media screen and ( max-width: 900px ) and ( max-height: 500px ) { 
    html {
        top: -8px;
        left: -10px;
        position: fixed;
    
    
    }
    
    body {
        overflow: hidden;
    
    }
    
    .field {
        width: 736px;
        height: 414px;
        position: fixed;
        
    
    }
    
    .penalty_shootout {
        position: fixed;
        top: 0;
        left: 0;
        width: 156px;
        height: 43px;
        margin-top: 45px;
        margin-left: 36px;
        background: #801515;
        display: flex;
        flex-wrap: wrap;
    
    }
    
    .circle {
        width: 10px;
        height: 10px;
        background: #ccc;
        transform: rotate(-45deg);
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 11px;
        margin-left: 10px;
    }
    
    .button {
        width: 60px;
        height: 40px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        position: absolute;
        font-size: 15px;
    
    }
    
    .gates  {
        position: fixed;
        width: 300px;
        height: 135px;
        left: 0;
        right: 0;
        margin-left: 225px;
        margin-top: 177px;
        
    }
    
    .text_1 {
        font-size: 15px;
        position: fixed;
        color: white;
        margin-left: 201px;
        margin-top: 47px;
        font-family: 'FontName';

    
    }
    
    .text_2 {
        font-size: 15px;
        position: fixed;
        color: white;
        margin-left: 201px;
        margin-top: 68px;
        font-family: 'FontName';
      
    }
    
    .answer {
        font-size: 27px;
        color: white;
        position: fixed;
        margin-left: 47%;
        margin-top: 15%;
        font-family: 'FontName';
    
    }
    
    .shock {
        font-size: 10px;
        position: fixed;
        color: white;
        margin-right: 35px;
        margin-top: 290px;
        right: 0;
        font-family: 'FontName';
    }
    
    .world_cup {
        position: fixed;
        right: 0;
        width: 86px;
        height: 100px;
        margin-right: 20px;
        margin-top: 20px;
    
    
    }
    
    .button_music {
        position: fixed;
        width: 50px;
        height: 30px;
        margin-top: 275px;
        margin-left: 10px;
        font-size: 10px;
        font-family: 'FontName'

}

}